{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">
  {% include 'Vehicle_assignment/includes/head.html' %}

  <body>
    {% include 'Vehicle_assignment/includes/header.html' %}

    <section class="breadcrumb-outer text-center">
      <div class="container">
        <div class="breadcrumb-content">
          <h2 class="white">About Us 1</h2>
          <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                About Us 1
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <section class="about-us">
      <div class="container">
        <div class="section-title">
          <h2>
            We're truely dedicated to make your travel experiences as much
            simple and fun as possible
          </h2>
        </div>
        <div class="about-desc">
          <div class="row">
            {% for i in about %}
            <div class="col-lg-6 col-md-6 col-12 mt-5">
              <div class="about-story">
                <h3>{{i.title}}</h3>
                <p class="mar-0">{{i.description}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    
    <section class="travelcounter counter1">
      <div class="container">
        <div class="section-title">
          <h2 class="white">Book only using  <span>three</span> steps </h2>
          <p class="white">Well trained drivers and   top rated  Officers</p>
        </div>
        <div class="row service-gg">
          <div class="col-lg-3 col-sm-6">
            <div class="counter-item">
              <div class="counter-icon">
                <i class="fas fa-hiking" aria-hidden="true"></i>
              </div>
              <div class="counter-content">
                <h3 class="">{{employee_count}}</h3>
                <p class="mar-0">Current users / Employees</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="counter-item">
              <div class="counter-icon">
                <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
              </div>
              <div class="counter-content">
                <h3 class="">{{driver_count}}</h3>
                <p class="mar-0">Drivers we have</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="counter-item">
              <div class="counter-icon">
                <i class="fa fa-walking" aria-hidden="true"></i>
              </div>
              <div class="counter-content">
                <h3 class="">{{officer_count}}</h3>
                <p class="mar-0">Opertors we have</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="counter-item">
              <div class="counter-icon">
                <i class="fa fa-car" aria-hidden="true"></i>
              </div>
              <div class="counter-content">
                <h3 class="">{{vehicle_count}}</h3>
                <p class="mar-0">Vehicles we have</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    {% include 'Vehicle_assignment/includes/footer.html' %}

    <div id="back-to-top">
      <a href="#"></a>
    </div>

    <div id="search1">
      <button type="button" class="close">×</button>
      <form>
        <input type="search" value placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
    <div class="modal fade" id="login" role="dialog">
      <div class="modal-dialog">
        <div class="login-content">
          <div class="login-title section-border">
            <h3>Login</h3>
          </div>
          <div class="login-form section-border">
            <form>
              <div class="form-group">
                <input type="email" placeholder="Enter email address" />
              </div>
              <div class="form-group">
                <input type="password" placeholder="Enter password" />
              </div>
            </form>
            <div class="form-btn">
              <a href="#" class="biz-btn biz-btn1">LOGIN</a>
            </div>
            <div class="form-group form-checkbox">
              <input type="checkbox" /> Remember Me
              <a href="#">Forgot password?</a>
            </div>
          </div>
          <div class="login-social section-border">
            <p>or continue with</p>
            <a href="#" class="btn-facebook"
              ><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a
            >
            <a href="#" class="btn-twitter"
              ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a
            >
          </div>
          <div class="sign-up">
            <p>Do not have an account?<a href="#">Sign Up</a></p>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
    </div>
    <div class="modal fade" id="register" role="dialog">
      <div class="modal-dialog">
        <div class="login-content">
          <div class="login-title section-border">
            <h3>Register</h3>
          </div>
          <div class="login-form section-border">
            <form>
              <div class="form-group">
                <input type="text" placeholder="User Name" />
              </div>
              <div class="form-group">
                <input type="text" placeholder="Full Name" />
              </div>
              <div class="form-group">
                <input type="email" placeholder="Email" />
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" />
              </div>
            </form>
            <div class="form-btn">
              <a href="#" class="biz-btn biz-btn1">REGISTER</a>
            </div>
            <div class="form-group form-checkbox">
              <input type="checkbox" /> Remember Me
              <a href="#">Forgot password?</a>
            </div>
          </div>
          <div class="login-social section-border">
            <p>or continue with</p>
            <a href="#" class="btn-facebook"
              ><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a
            >
            <a href="#" class="btn-twitter"
              ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a
            >
          </div>
          <div class="sign-up">
            <p>Do not have an account?<a href="#">Sign Up</a></p>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
    </div>

    <script
      data-cfasync="false"
      src="{% static '../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"
    ></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/color-switcher.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/custom-nav.js' %}"></script>
    <script>
      (function () {
        var js =
          "window['__CF$cv$params']={r:'7d726c3b4c0241be',m:'MsqcgdkB2AgFZOppCtTS9EtP5c_twsl0ny_hQGiqk3w-1686744129-0-AZksVZ9t44CKOkRnxIFED8XqJMLO7aPo7qtkjR0I5nyh'};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='../../../cdn-cgi/challenge-platform/h/g/scripts/jsd/6cdb09c9/invisible.js' %}',document.getElementsByTagName('head')[0].appendChild(_cpo);";
        var _0xh = document.createElement("iframe");
        _0xh.height = 1;
        _0xh.width = 1;
        _0xh.style.position = "absolute";
        _0xh.style.top = 0;
        _0xh.style.left = 0;
        _0xh.style.border = "none";
        _0xh.style.visibility = "hidden";
        document.body.appendChild(_0xh);
        function handler() {
          var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
          if (_0xi) {
            var _0xj = _0xi.createElement("script");
            _0xj.nonce = "";
            _0xj.innerHTML = js;
            _0xi.getElementsByTagName("head")[0].appendChild(_0xj);
          }
        }
        if (document.readyState !== "loading") {
          handler();
        } else if (window.addEventListener) {
          document.addEventListener("DOMContentLoaded", handler);
        } else {
          var prev = document.onreadystatechange || function () {};
          document.onreadystatechange = function (e) {
            prev(e);
            if (document.readyState !== "loading") {
              document.onreadystatechange = prev;
              handler();
            }
          };
        }
      })();
    </script>
  </body>

  <!-- Mirrored from htmldesigntemplates.com/html/nepayatri/bootstrap4/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Jun 2023 12:06:59 GMT -->
</html>
